body {
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

.wrapper {
    margin: 0px auto;
    width: 500px;
    background-color: antiquewhite;
    border: 3px solid rgb(255, 152, 153);
}

.board {
    width: 400px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5%;
    background-color: bisque;
}

.board table {
    width: 70%;
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: rgb(246, 181, 181);
    text-align: center;
}

.cell-hidden {
    background-color: lightgray;
}

.mine {
    background-color: red;
}

.clicked {
    background-color: rgb(190, 101, 101);
}

.selected {
    outline: 5px solid orange;
}

.mark {
    background-color: lightpink;
}

.timer {
    width: 100px;
    margin-top: 50px;
    font-size: 2em;
    border: 3px dashed peachpuff;
    color: rgb(255, 152, 153);
    display: inline-block;
}

.score {
    width: 100px;
    margin-top: 50px;
    font-size: 2em;
    border: 3px dashed peachpuff;
    color: rgb(255, 152, 153);
    display: inline-block;
}

.btn-restart {
    width: 100px;
    font-size: 1.6em;
    border: 2px solid rgb(255, 152, 153);
    border-radius: 5%;
    background-color: antiquewhite;
}

.btn-restart:active {
    background-color: coral;
    transition: 0.3s;
}

.lives {
    width: 200px;
    margin: auto;
    font-size: 2em;
}

.radio-container {
    width: 50%;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    border: 3px dashed peachpuff;
    color: rgb(255, 167, 166);
}

.safe-click button {
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: 3px solid rgb(255, 152, 153);
    background-color: rgb(255, 167, 166);
    border-radius: 5%;
}

.best-score {
    color: rgb(190, 101, 101);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(190, 101, 101);
    color: white;
    text-align: center;
}