body {
    text-align: center;
    font-weight: bold;
}

.wrapper {
    margin: 0px auto;
    width: 500px;
    background-color: antiquewhite;
}

.board {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    background-color: bisque;
}

.board table {
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    text-align: center;
}

.cell-hidden {
    background-color: lightgray;
}

.mine {
    background-color: red;
}

.clicked {
    background-color: darkgray;
}

.mark {
    background-color: lightpink;
}

.timer {
    width: 100px;
    margin-top: 50px;
    font-size: 2em;
    border: 3px dashed peachpuff;
    display: inline-block;
}

.score {
    width: 100px;
    margin-top:50px;
    font-size: 2em;
    border: 3px dashed peachpuff;
    display: inline-block;
}

.btn-restart {
    width: 100px;
    height: 50px;
    font-size: 2em;
}

.lives {
    width: 200px;
    margin: auto;
    font-size: 2em;
}

